RewriteEngine on
RewriteCond %{HTTP_HOST} ^blog-eventkool.rhcloud.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.blog-eventkool.rhcloud.com$
RewriteCond %{REQUEST_URI} !blog/_sites/
RewriteRule (.*) /blog/_sites/$1 [L]